.login {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 10px;
}
.login > input {
  margin-top: 10px;
  border: none;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
}
.login > button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(95, 92, 92);
  width: 95%;
  padding: 5px;
}
.login > button:hover {
  background-color: rgb(222, 235, 236);
}
.login > p {
  font-size: 13px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}
.login > p > span {
  color: rgb(47, 155, 218);
  font-weight: 500;
  cursor: pointer;
}
